body {
  margin: 100px 0 10px;
}

h2 {
  font-size: 33px;
}

img {
  height: 200px;
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.maintitle-margin {
  margin-bottom: 20px;
}

.subtitle-margin {
  margin: 15px 0;
}

.top-margin {
  margin-top: 100px;
}

.div-background {
  background-color: #F9F9F9;
}

.img-background {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

.hide {
  display: none;
}

@media all and (min-width: 768px)
and (max-width: 992px) {
  .hide {
    display: block;
    margin: 10px auto;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .hide {
    display: block;
    margin: 10px auto;
    width: 90%;
  }
}
