body {
  margin: 100px 0 30px;
}

h2 {
  font-size: 33px;
}

img {
  height: 200px;
}

.text-center {
  text-align: center;
}

.maintitle-margin {
  margin-bottom: 20px;
}

.subtitle-margin {
  margin: 15px 0;
}

.top-margin {
  margin-top: 100px;
}

.div-background {
  background-color: #F9F9F9;
}

.img-background {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}
